@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Rubik:wght@300&family=Source+Sans+Pro:wght@200&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Bebas Neue', cursive;
}


/*Header*/
body{
    width: 100%;
    background: white;
}
main{
}
header{
    position: fixed;
    width: 100%;
    height: 17vh;
    z-index: 10;
    transition: all 500ms ease-out;
}
/*clase con js para poner un fondo al hacer scroll*/
header.abajo{
    background-color: black;
}
header.abajo .lista{
    background-color: black;
    padding-right: 20px;
    padding-bottom: 20px;
}


.navegacion{
    padding: 30px 0px 0px 0px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.menu{
    padding-top: 30px;
    padding-left: 20px;
    justify-self: start;
    align-self: center;
    cursor: pointer;
    display: grid;
}
.bar-btn{
    display: grid;
    grid-template-columns: 30% 70%;
    width: 150px;
    cursor: pointer;  
}
.bar-btn>p{
    padding-left: 5px;
    font-size: 40px;
    color: white;
}
.bar-btn>img{
    filter:invert(100%) sepia(100%) saturate(2%) hue-rotate(319deg) brightness(102%) contrast(101%);
}

.lista{
    padding-left: 50px;
    visibility: hidden;
    list-style: none;
}

.lista li a{
    text-decoration: none;
    color: white;
    font-size: 30px;
}
.lista li a:hover{
    color: rgb(218, 216, 216);
}

#check{
    display: none;
}
#check:checked ~ .lista{
    visibility: visible;
}

#logo{
    justify-self: center;
}
#logo>h1{
    font-family: 'Bebas Neue', cursive;
    letter-spacing: 5px;
    font-size: 100px;
    color:white;
}



/*seccion numero 1  , imagen*/
.seccion_1{
    z-index: 1;
    width: 100%;
    height: 50vh;
}
.seccion_1 article{
    width: 100%;
    height: 50vh;
    
}
.seccion_1 article img{
    width: 100%;
    height: 50vh;
}

/*seccion numero 2  , informacion*/

.seccion_2{
    z-index: 1;
    width: 100%;
}
.seccion_2 article{
    padding-left: 50px;
    padding-right: 50px;
}
.seccion_2 article h1{
    width: 100%;
    font-size: 60px;
    text-align: center;
    padding-top: 60px;

}
.seccion_2 article p{
    color: rgb(66, 65, 65);
    width: 100%;
    line-height: 50px;
    font-size: 30px;
    padding-bottom: 50px;
    padding-top: 50px;
}
/*seccion numero 3  , imagenes*/

.seccion_3{
    z-index: 1;
    width: 100%;
}
.seccion_3 article{
    background-color: gray;
    padding-top: 50px;
    padding-bottom: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.seccion_3 article img{
    justify-self: center;
    width: 80%;
    height: 73vh;
}

/*seccion numero 4  , texto*/


